<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>{{title}}</h1>
    <ul>
      {{#each products}}
        <li class="product">
          <strong>{{name}}</strong>
          - €{{price}}<br />
          Colore:
          {{color}}<br />
          Taglie disponibili:
          {{size}}
        </li>
      {{/each}}
    </ul>
    <a href="/">Home</a>
  </body>
</html>